#edit-box0 {
    background-image: none;
    padding:          0;
    margin:           0;
}
#edit-box1 {
    float:            left;
    margin-top:       0;
    padding-bottom:   0;
    margin-bottom:    0;
}
#edit-box2 {
    margin-top:       0;
    padding-bottom:   0;
    margin-bottom:    0;
}
#edit-signaturen .form-type-item {   
    float:            left;
    width:            18em;
}
